{%- if section.settings.show_image -%}
  {%- if section.settings.image != blank -%}
    {%- assign password_image = section.settings.image | img_url: '1800x' -%}
  {%- else -%}
    {%- assign password_image = 'password-page-background.jpg' | asset_url -%}
  {%- endif -%}

  {%- style -%}
    body {
      background-color: #000;
    }
    .password-page__image {
      background-image: url('https://cdn.shopify.com/s/files/1/0499/7916/2781/files/Rectangle_32_1400x1400.png?v=1606120683');
    }
    .password-page__wrapper {
      color: #fff;
    }
    .password-page__wrapper hr {
      border-color: inherit;
    }
  {%- endstyle -%}
{%- else -%}
  {%- style -%}
    .password-page__image {
      display: none;
    }
  {%- endstyle -%}
{%- endif -%}

<div class="page-width">
  <div class="password-page">
    <div class="password-page__content">

      {%- unless shop.password_message == blank -%}
        <div class="password-page__message">
          {{ shop.password_message }}
        </div>
      {%- endunless -%}

      {%- if section.settings.newsletter_enable -%}
        <div >
          {%- form 'customer' -%}
            {{ form.errors | default_errors }}
            {%- if form.posted_successfully? -%}
              <p class="note--success">{{ 'general.password_page.signup_form_success' | t }}</p>
            {%- else -%}
              <div class="rte">Get notified when we launch</div>
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <div class="input-group">
                <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder }}">
                <div class="input-group-btn">
                  <button type="submit" class="btn">
                    {{ section.settings.newsletter_button_text }}
                  </button>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- endif -%}


    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_heading",
        "label": "Newsletter heading",
        "default": "<p>Get notified when we launch</p>",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Background image"
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "label": "Enable image",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
