{%- if article.image -%} {%- assign img_url = article.image | img_url: '1x1' |
replace: '_1x1.', '_{width}x.' -%}
{%- assign video_place_holder = article.metafields.global.hero_video_placeholder | img_url: '1x1' |
replace: '_1x1.', '_1400x.' -%}
<div
  data-section-id="{{ section.id }}"
  data-section-type="video-section"
  {%- if article.metafields.global.hero_video -%}
    id="videoPlaceholderContainer"
  {%- endif -%}
  class="video-parent-section hero hero--{{ section.id }} hero--900px loaded"
>
  {%- if article.metafields.global.hero_video -%}
  <div id="heroVideo"></div>
  {%- endif -%}
  <div class="hero__media hero__media--{{ section.id }}">
    <div class="hero__media-container">
      {%- if article.metafields.global.hero_video -%}
         <img
          class="lazyload"
          id="videoHeroPlaceholder"
          src=""
          data-src="{{img_url}}"
          data-aspectratio="{{ article.image.aspect_ratio }}"
          data-sizes="auto"
          data-parent-fit="cover"
          alt="{{ article.image.alt | escape }}"
        />
      {%- else %}
      <img
        class="lazyload"
        src=""
        data-src="{{ img_url }}"
        data-aspectratio="{{ article.image.aspect_ratio }}"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ article.image.alt | escape }}"
      />
      <noscript>
        <img
          class=""
          src="{{ article.image | img_url: '1400x' }}"
          alt="{{ article.image.alt | escape }}"
        />
      </noscript>
      {%- endif -%}
    </div>
  </div>

  <div class="hero__text-wrap" id="hero-text-container">
    <div class="page-width hero-text-container">
      <div
        class="hero__text-content vertical-center horizontal-center article-hero-text"
      >
        <div class="hero__text-shadow"></div>
        <div class="hero__text-shadow">
          <h2 class="h1 hero__title {%- if article.metafields.global.hero_video %}video-hero-title{%- endif %}">
            {{ article.title }}
          </h2>
          {%- if article.metafields.global.hero_video -%}
          <img style="margin-top: 20px" src="https://cdn.shopify.com/s/files/1/0499/7916/2781/files/play-button.svg?v=1608016937" alt="play button" />
          {%- endif -%}
        </div>
        <div class="hero__text-shadow">
          <h4 class="article-author">
            {{ article.metafields.global.current_author }}
          </h4>
          <h4 class="article-author">
            {{ article.metafields.global.current_photographer }}
          </h4>
          <h5 class="article-date">
            {{ article.published_at | date: "%B %d, %Y" }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

{%- if article.metafields.global.maker -%}
<div class="article-lead-container section--divider">
  <div class="article-lead-item">
    <div class="article-lead-header">MAKER</div>
    <div class="article-lead-text">{{ article.metafields.global.maker }}</div>
  </div>
  <div class="article-lead-item">
    <div class="article-lead-header">LOCATION</div>
    <div class="article-lead-text">
      {{ article.metafields.global.location }}
    </div>
  </div>
  <div class="article-lead-item">
    <div class="article-lead-header">MATERIAL</div>
    <div class="article-lead-text">
      {{ article.metafields.global.material }}
    </div>
  </div>
</div>
<div class="section--divider article-bottom"></div>
{%- endif -%}

{%- endif -%} {% section 'article-template' %}

<script>
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player, iframe, listener;
var $ = document.querySelector.bind(document);

function playFullscreen(event) {
    console.log('clicking play full')

    document.getElementById("videoPlaceholderContainer").removeEventListener('click', playFullscreen);
    var elem = document.getElementById("heroVideo");
    var imageElem = document.getElementById("videoHeroPlaceholder");

    iframe = $('#heroVideo');

    imageElem.style.display = 'none';
    elem.style.display = 'block';
    console.log('clickingggg')
    player = new YT.Player("heroVideo", {
        videoId: "{{article.metafields.global.hero_video}}",
        fs: 1,
        events: {
            onReady: onPlayerReady
        },
    });
}

document.getElementById("videoPlaceholderContainer").addEventListener('click', playFullscreen);


function onPlayerReady(event) {
    player = event.target;
    player.playVideo(); //won't work on mobile
}
</script>