 <!-- drawer btn -->
     <div class="collection-filter">
       <div class="collection-filter__item collection-filter__item--drawer">
        <button
          type="button"
          class="js-drawer-open-blog-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
          aria-controls="FilterDrawer">

          {{ 'collections.filters.title_tags' | t }}:
          {%- for link in linklists[section.settings.blog_links].links -%}
            {% if link.current %} {{ link.title }} {% endif %}
          {%- endfor -%}
          {%- if current_filter_size > 0 -%}
            ({{ current_filter_size }})
          {%- endif -%}
        </button>
        </div>
      </div>

  <div
    id="BlogSidebar"
    data-section-id="{{ section.id }}"
    data-section-type="blog-sidebar">

    <!-- drawer -->
    {%- assign animation_row = 1 -%}
    <div id="FilterDrawer" class="drawer drawer--left">
      <div class="drawer__contents">
        <div class="drawer__fixed-header">
          <div class="drawer__header">
            <div class="h2 drawer__title">
            </div>
            <div class="drawer__close">
              <button type="button" class="drawer__close-button js-drawer-close">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
                <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
              </button>
            </div>
          </div>
        </div>
        {%- assign animation_row = animation_row | plus: 1 -%}
        <div class="drawer__scrollable">
          {%- render 'blog-sidebar-filters', location: 'SidebarDrawer', section: section -%}
        </div>
      </div>
    </div>
    <!-- drawer -->

      <div class="blog-sidebar small--hide">
         <div id="{{ location }}-{{ forloop.index }}">

            <ul class="no-bullets tag-list">
              {%- for link in linklists[section.settings.blog_links].links -%}
                <li {% if link.current %}class="tag--active"{% endif %}>
                  <a href="{{ link.url }}" class="no-ajax">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>

        </div>
      </div>

  </div>


{% comment %}
Sidebar enabled but not in drawer mode, only show filter button on mobile
{% endcomment %}
{%- style -%}
  @media screen and (min-width: 769px) {
    .collection-filter__item--drawer {
      display: none;
    }
    .collection-filter__item--count {
      text-align: left;
    }
  }
{%- endstyle -%}




{% schema %}
  {
    "name": "Blog sidebar",
    "settings": [
      {
        "type": "link_list",
        "id": "blog_links",
        "label": "Blog links"
      }
    ]
  }
{% endschema %}
