<div
  data-subsection
  data-section-type="slideshow-section"
  data-align-top="true"
  >
  
  
 
  
  
  
  <div class="slideshow-wrapper">
    {%- assign natural_height = false -%}

      {%- assign natural_height = true -%}
      {%- capture natural_height_ratio -%}{{ 100 | divided_by: 2.1 }}%{% endcapture %}



   
      <div class="hero-natural">
    
      <div id="Slideshow"
        class="hero hero--650px hero hero--mobile--350px loading loading--delayed"
        data-natural="true"
        data-aos="hero__animation"
        data-slide-count="1">
        <div class="slideshow__slide">

         
            <div class="">
             
                {%- style -%}
                  .hero__image {
                    object-position: center;
                    font-family: "object-fit: cover; object-position: center;";
                  }
                {%- endstyle -%}
 
                 {% capture image %}{{ product.metafields.global.Product_HeroImage }}{% endcapture %}
               
              
                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              
                

                <img class="image-fit hero__image hero__image lazyload"
                  src=""
                  data-src="{{ image }}"
                  width="0"
                  height="0"
                  data-aspectratio="2.1"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ image.alt | escape }}">
                <noscript>
                  <img class="image-fit hero__image hero__image--{{ block.id }}"
                    src="{{ image | img_url: '1400x' }}"
                    alt="{{ image.alt | escape }}">
                </noscript>
        
            </div>

        </div>
      </div>
      </div>

  </div>
</div>


