{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless

  unless description_style
    assign description_style = 'full'
  endunless

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
-%}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url | within: collection }}"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% if settings.inventory_transfers_enable %}
    data-incoming-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content page-content--product">
    <div class="page-width product-membership">
      <div class="grid">
        <div class="grid__item widescreen-up--four-sixths widescreen-up--push-one-sixth">

            <div class="grid--no-gutters">

            <div class="grid__item one-half text-left">
              <h1 class="h2 product-membership__title">
                Become a Member
              </h1>

              <h1 class="h2 product-membership__title-price">
                $100/Year
              </h1>
            </div>

            <div class="grid__item one-half membership-button-container">

              {%- render 'product-membership-form',
                section_id: section_id,
                product: product,
                current_variant: current_variant
              -%}

            </div>

            <div class="clearfix"></div>

            <hr class="hr--medium">

            <div class="rte">
            {{ product.description }}
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
              <div class="three-image-grid">
              <div class="image-container">
                <img src="{{ 'bowls.png' | asset_img_url: '600x600', scale: 2 }}" />
              </div>
              <div class="image-container">
                <img src="{{ 'texture.png' | asset_img_url: '600x600', scale: 2 }}" />
              </div>
              <div class="image-container">
                <img src="{{ 'pots.png' | asset_img_url: '600x600', scale: 2 }}" />
              </div>
            </div>
</div>
