<div class="grid__item medium-up--one-half">
  <label>Maker</label>
</div>

<div class="grid__item medium-up--one-half">
  {%- assign vendor_handle = product.vendor | handleize  -%}
  {%- if collections[vendor_handle] != empty -%}

  <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
    {{ collections[vendor_handle].title }}
  </a>

  {%- else -%}
  {{ product.vendor | link_to_vendor }}
  {%- endif -%}
</div> 

<div class="grid__item medium-up--one-half">
  <label>Location</label>
</div>

<div class="grid__item medium-up--one-half">
  {{ product.metafields.global.Product_City }}, {{ product.metafields.global.Product_Country }}
</div>

<div class="grid__item medium-up--one-half">
  <label>Material</label>
</div>

<div class="grid__item medium-up--one-half">
  {{ product.metafields.global.Product_Material }}
</div>