<div class="index-section text-center">
	<div class="grid grid--uniform grid--flush-bottom">

  <div class="grid__item medium-up--one-third"> 
    <h3>{{ settings.product_title_1 }}</h3>
    <p>{{ settings.product_content_1 }}</p>
  </div>

  <div class="grid__item medium-up--one-third"> 
    <h3>{{ settings.product_title_2 }}</h3>
    <p>{{ settings.product_content_2 }}</p>
  </div>

  <div class="grid__item medium-up--one-third"> 
    <h3>{{ settings.product_title_3 }}</h3>
    <p>{{ settings.product_content_3 }}</p>
  </div>

</div>
</div>


